node_modules/
dist/
build/
.env
.DS_Store
*.log
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
*.tsbuildinfo
.turbo/

# Ignore database files
packages/prisma/**/*.db
packages/prisma/**/*.bak

.gitnexus
