# Required for electron-builder and native modules
node-linker=hoisted

# Optional: Speeds up Electron downloads in some regions
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/